node_modules
dist
.git
.gitignore
README.md
Dockerfile
.dockerignore
npm-debug.log
shared

# Ignore local symlinks and modules during build
backend/shared
frontend/shared
backend/node_modules
frontend/node_modules
